<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Orange Review - The Best Travel Tips</title>
    <%=stylesheet_link_tag "application" %>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+SC:200,300,400,500,700,800|Alegreya+Sans:300,400,500,700,800|Alegreya:400,500,700,800" rel="stylesheet">
  </head>
  <body>
    <header>
      <div>
        <%=image_tag("icon-logo-header.png", size: "23") %>
        Orange Review
      </div>
      <nav>
        <a href="#">Topics</a>
        <a href="#">Tags</a>
        <%=image_tag("icon-search-header.png", size: "14", alt: "Magnifying Glass", class: "head-magnify-orange") %>
      </nav>
    </header>

  <body>
    <%= yield %>
  <footer>
      <div>
        <%=image_tag("icon-logo-header.png", size: "23", alt: "Orange Review Logo", class: "head-logo") %>
        Orange Review
      </div>
      <p class="footer-tagline">
        The Best Travel Tips
      </p>
      <h6 class="copyright">
        Copyright 2018, Build Carolina.
      </h6>
    </footer>
  </body>
</html>

